.header {

}
.header-bg{
    /* Style for "picture" */
    width: 1920px;
    height: 1001px;
    margin-left: 0px;
    margin-right: 0px;
    /*background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url("../img/eagle.jpg");*/
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url("../img/eagle.jpg") no-repeat center;
}
.header-content {
    margint-left: 0px;
    margin-right: 250px;
}
.content-margin {
    margin-left: 350px;
    margin-right: 350px;
    /*border: 1px solid blue;*/
}
.border-grey{
    border: 1px solid grey;
}
.progress-divider {
    /* Style for "Rectangle" */
    width: 90%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 120px;
}
.progress-label {
    /* Style for "02 Work" */
    width: 150px;
    height: 17px;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

    /* Text style for "Work" */
    font-family: "Montserrat - Regular";
    font-weight: 400;
}
.progress-digit {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    /* Text style for "02" */
    font-family: "Montserrat - Bold";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo {
    /* Style for "MoGo" */
    width: 86px;
    height: 23px;
    margin-top: 30px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    /* Text style for "M, G" */
    /*text-transform: uppercase;*/
}
.menu-button {
    /* Style for "service" */
    width: 60px;
    height: 10px;
    margin-top: 40px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-button-image {
    /* Style for "SHOPPING C" */
    width: 20px;
    height: 20px;
    margin-top: 36px;
    background-color: #ffffff00;
}
.menu-button-active {
    /* Style for "About" */
    width: 51px;
    height: 10px;
    color: #fce38a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.title-small {
    /* Style for "Creative T" */
    width: 608px;
    height: 87px;
    margin-top: 229px;
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    text-align: center;
}
.title-large {
    /* Style for "Welcome to" */
    width: 802px;
    height: 248px;
    margin-top: 42px;
    margin-bottom: 75px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    text-align: center;
}
.learn-more{
    /* Style for "Learn more" */
    width: 95px;
    height: 11px;
    margin-top: 50px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.line-divider {
    /* Style for "Rectangle" */
    width: 162px;
    height: 5px;
    margint-top: 70px;
    background-color: #ffffff;
    text-align: center;
}
.learn-more-border {
    /* Style for "Rectangle" */
    width: 162px;
    height: 42px;
    border: 3px solid rgb(255, 255, 255);
}
.main {
    width: 1200px;
}
.section-header-normal{
    /* Style for "Story abou" */
    width: 270px;
    height: 23px;
    margin-top: 23px;
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.section-header-small{
    /* Style for "What we do" */
    width: 108px;
    height: 23px;
    margin-top: 90px;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}
.section-line-divider{
    /* Style for "Rectangle" */
    width: 62px;
    height: 5px;
    margin-top: 39px;
    background-color: #f38181;
}
.section-content-text{
    /* Style for "Lorem ipsu" */
    width: 954px;
    height: 39px;
    margin-top: 46px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.section-photo{
    /* Style for "Layer 39" */
    width: 382px;
    height: 252px;
    margin-top: 100px;
}
.section-photo-margin{
    margin-top: 100px;
}
.first-photo-bg{
    /* Style for "Rectangle" */
    width: 382px;
    height: 252px;
    margin-top: -10px;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url("../img/Layer_44.png") no-repeat center;
}
.super-team-text{
    /* Style for "super team" */
    width: 119px;
    height: 14px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.section-full-width{
    /* Style for "Rectangle" */
    width: 1920px;
    height: 272px;
    margin-top: 108px;
    background-color: #95e1d3;
}
