.header {

}
.main-width{
    width: 1920px;
}
.header-bg{
    /* Style for "picture" */
    width: 1920px;
    height: 1001px;
    margin-left: 0px;
    margin-right: 0px;
    /*background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url("../img/eagle.jpg");*/
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url("../img/eagle.jpg") no-repeat center;
}
.header-content {
    margint-left: 0px;
    margin-right: 250px;
}
.content-margin {
    margin-left: 350px;
    margin-right: 350px;
    /*border: 1px solid blue;*/
}
.content-padding {
    padding-left: 350px;
    padding-right: 350px;
}
.border-grey{
    border: 1px solid grey;
}
.progress-divider {
    /* Style for "Rectangle" */
    width: 90%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 120px;
}
.progress-label {
    /* Style for "02 Work" */
    width: 150px;
    height: 17px;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

    /* Text style for "Work" */
    font-family: "Montserrat - Regular";
    font-weight: 400;
}
.progress-digit {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    /* Text style for "02" */
    font-family: "Montserrat - Bold";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo {
    /* Style for "MoGo" */
    width: 86px;
    height: 23px;
    margin-top: 30px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    /* Text style for "M, G" */
    /*text-transform: uppercase;*/
}
.menu-button {
    /* Style for "service" */
    width: 60px;
    height: 10px;
    margin-top: 40px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-button-image {
    /* Style for "SHOPPING C" */
    width: 20px;
    height: 20px;
    margin-top: 36px;
    background-color: #ffffff00;
}
.menu-button-active {
    /* Style for "About" */
    width: 51px;
    height: 10px;
    color: #fce38a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.title-small {
    /* Style for "Creative T" */
    width: 608px;
    height: 87px;
    margin-top: 229px;
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    text-align: center;
}
.title-large {
    /* Style for "Welcome to" */
    width: 802px;
    height: 248px;
    margin-top: 42px;
    margin-bottom: 75px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    text-align: center;
}
.learn-more{
    /* Style for "Learn more" */
    margin-top: 50px;
    padding-top:10px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.learn-more-button{
    color: #ffffff;
    margin-left: 30px;
    text-decoration: none;
}
.line-divider {
    /* Style for "Rectangle" */
    width: 62px;
    height: 5px;
    margint-top: 70px;
    background-color: #ffffff;
    text-align: center;
}
.learn-more-border {
    /* Style for "Rectangle" */
    width: 162px;
    height: 42px;
    border: 3px solid rgb(255, 255, 255);
}
.main {
    width: 1200px;
}
.section-header-normal{
    /* Style for "Story abou" */
    width: 410px;
    height: 23px;
    margin-top: 23px;
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.section-header-small{
    /* Style for "What we do" */
    width: 140px;
    height: 23px;
    margin-top: 90px;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.section-line-divider{
    /* Style for "Rectangle" */
    width: 62px;
    height: 5px;
    margin-top: 39px;
    background-color: #f38181;
}
.section-content-text{
    /* Style for "Lorem ipsu" */
    width: 954px;
    height: 39px;
    margin-top: 46px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.section-photo{
    /* Style for "Layer 39" */
    width: 382px;
    height: 252px;
    margin-top: 100px;
}
.section-photo-margin{
    margin-top: 100px;
}
.first-photo-bg{
    /* Style for "Rectangle" */
    width: 382px;
    height: 252px;
    margin-top: -10px;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url("../img/Layer_44.png") no-repeat center;
}
.super-team-text{
    /* Style for "super team" */
    width: 119px;
    height: 14px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.section-full-width{
    /* Style for "Rectangle" */
    width: 1920px;
    height: 272px;
    margin-top: 108px;
    background-color: #95e1d3;
    border: 2px solid #ffffff
}
.big-digit-holder {
    width: 85px;
    height: 51px;
    border: 2px solid #ffffff
}
.big-digit{
    /* Style for "42" */
    width: 85px;
    height: 51px;
    margin-top: 90px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.big-digit-text{
    /* Style for "Web Design" */
    width: 169px;
    height: 10px;
    margin-top: 60px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.digit-border {
    /* Style for "Shape 2 co" */
    width: 4px;
    height: 273px;
    background-color: #ffffff;
    opacity: 0.3;
}
.card-text-header{
    /* Style for "Photograph" */
    width: 110px;
    height: 10px;
    margin-left: 30px;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.card-text-content{
    /* Style for "Lorem ipsu" */
    width: 273px;
    height: 39px;
    margin-top: 20px;
    margin-left: 70px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.big-divider-horizontal{
    /* Style for "Shape 4 co" */
    width: 1202px;
    height: 4px;
    margin-top: 100px;
    background-color: #e5e5e5;
}
.section-unique-design{
    /* Style for "Layer 45" */
    width: 1920px;
    height: 852px;
    margin-top: 120px;
    /*background-image: url("../img/Layer_45.png");*/
    /*background-color: rgba(255, 255, 255, 0.85);*/
    background: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/Layer_45.png") no-repeat center;
}
.image-tablet-margin {
    margin-top: 67px;
}
.image-phone-margin{
    margin-top: -380px;
    margin-left: 520px;
}
.section-service{
    width: 1200px;
    height: 852px;
    margin-top: 120px;
}
.quoted-text{
    /* Style for "“Lorem ips" */
    width: 767px;
    height: 96px;
    margin-top: 80px;
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.quoted-footer{
    /* Style for "Jon Doe" */
    width: 120px;
    height: 22px;
    margin-top: 23px;
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}
.logo-sample{
    /* Style for "Rectangle" */
    width: 1920px;
    height: 252px;
    padding-top:50px;
    background-color: #f8f8f8;
}
.quoted-bg{
    /* Style for "Rectangle" */
    width: 1920px;
    height: 292px;
    background-color: #f8f8f8;
}
.quoted-rectangle{
    /* Style for "Rectangle" */
    width: 152px;
    height: 152px;
    padding: 44px;
    margin: 70px;
    border: 3px solid #95e1d3;
}
.quoted-image{
    /* Style for "Rectangle" */
    width: 212px;
    height: 212px;
    margin: 70px;
}
.section-happy-clients{
    /* Style for "Layer 45" */
    width: 1920px;
    height: 852px;
    margin-top: 120px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/Layer_53.png") no-repeat center;
}
.section-map{
    /* Style for "Rectangle" */
    width: 1920px;
    height: 202px;
    margin-top: 120px;
    padding-top:57px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/Layer_59.png") no-repeat center;
}
.map-text{
    /* Style for "Open map" */
    width: 142px;
    height: 18px;
    margin-top:18px;
    color: #f38181;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.blog-post-header{
    /* Style for "Lorem ipsu" */
    width: 323px;
    height: 10px;
    margin-top: 20px;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.blog-post-text{
    /* Style for "Consectetu" */
    width: 346px;
    height: 39px;
    margin-top:20px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.blog-line-divider {
    /* Style for "Shape 5" */
    width: 382px;
    height: 3px;
    margin-top: 19px;
    background-color: #e5e5e5;
}
